# Python cache
__pycache__/
*.pyc

# Virtual environments
*.env
*.env.*
*/.env
*/.env.*

# Pipenv
Pipfile.lock

# Docker
*.log
*.pid

# Django static/media
static/
media/
uploads/
caches/

# VSCode, PyCharm və s.
.vscode/
.idea/
